<div class="container">
	<div class="jumbotron">
		<h1>Esports - Administración</h1>
	</div>
	<div class="row">
		<div class="col">
			<a href="/admin/post/read" class="btn btn-primary" role="button">Noticias</a>
		</div>
		<div class="col">
			<a href="/admin/game/read" class="btn btn btn-success" role="button">Juegos</a>
		</div>
		<div class="col">
			<a href="/admin/team/read" class="btn btn-info" role="button">Equipos</a>
		</div>
		<div class="col">
			<a href="/admin/player/read" class="btn btn-dark" role="button">Jugadores</a>
		</div>
		<div class="col">
			<a href="/admin/tournament/read" class="btn btn-warning"
				role="button">Torneos</a>
		</div>
		<div class="col">
			<a href="/" class="btn btn-info" role="button">Web</a>
		</div>
	</div>
</div>
