<div class="container">
	<div class="jumbotron">
		<h1>Administración Esports</h1>
	</div>
	<h4>Has accedido al menú de administración</h4>
	<a href="/admin/logout">Cerrar sesión</a>

	<p class=""></p>

	<a href="/admin/post/read" class="mb-3 btn btn-primary" role="button">Noticias</a><br />

	<a href="/admin/game/read" class="mb-3 btn btn-primary" role="button">Juegos</a><br />

	<a href="/admin/team/read" class="mb-3 btn btn-primary" role="button">Equipos</a><br />

	<a href="/admin/player/read" class="mb-3 btn btn-primary" role="button">Jugadores</a><br />

	<a href="/admin/tournament/read" class="mb-3 btn btn-primary"
		role="button">Torneos</a><br />
</div>
