<div class="container">
	<h1>Nueva Noticia</h1>
	<form method="post" th:object="${postForm}">
		<div class="form-group">
			<label>Título de la noticia</label> <input type="text"
				class="form-control" th:field="*{post.title}" />
		</div>
		<div class="form-group">
			<label>Fecha</label> <input type="date" class="form-control"
				th:field="*{post.date}" />
		</div>
		<div class="form-group">
			<label>Texto introductorio</label>
			<textarea class="form-control" rows="2" th:field="*{post.shortText}"></textarea>
		</div>
		<div class="form-group">
			<label>Cuerpo de la noticia</label>
			<textarea class="form-control" rows="10" th:field="*{post.longText}"></textarea>
		</div>
		<div class="form-group">
			<label>Etiquetas</label> <input type="text" class="form-control"
				th:field="*{post.tags}" />
		</div>
		<div class="form-group">
			<label>Autor</label> <input type="text" class="form-control"
				th:field="*{post.author}" />
		</div>
		<button type="submit" class="btn btn-primary">Crear</button>
	</form>
</div>
