<div class="container">
	<br> <a href="/admin/post/create" class="mb-3 btn btn-info"
		role="button">Crear</a> <br>

	<h1>Lista de noticias</h1>

	<table class="table table-hover">
		<thead class="thead-light">
			<tr>
				<th>Título</th>
				<th>Fecha</th>
				<th>Etiquetas</th>
				<th>Operaciones</th>
			</tr>
		</thead>
		<tbody th:each="post: ${post}">
			<tr>

				<td th:text="${post.title}"></td>
				<td th:text="${#temporals.format(post.date, 'dd-MM-yyyy')}"></td>
				<td th:text="${post.tags}"></td>
				<td>
					<a th:href="@{'/post/detalle?id=' + ${post.id}}"
						class="mb-3 btn btn-sm btn-info" role="button">Consultar</a>

					<a th:href="@{'/admin/post/update?id=' + ${post.id}}"
					   class="mb-3 btn btn-sm btn-success" role="button">Actualizar</a>

					<a th:href="@{'/admin/post/delete?id=' + ${post.id}}"
					   class="mb-3 btn btn-sm btn-danger confirmation" role="button">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
