<section class="review-section" style="padding-top: 200px">
	<div class="container">
		<div class="review-item text-white">
			<div>
				<h1 th:text="${game.name}"></h1>
				<div class="review-pic">
					<!-- <img th:src="@{${game.imgUrl}}" /> -->
					<img th:src="${(game.imgUrl != null) ? game.imgUrl : '/upload/img/game/game.png'}" th:alt="${game.name}"/>
				</div>
				<blockquote class="blockquote">
					<p>
						Género: <span th:text="${game.genre}"></span>
					</p>
					<footer th:text="${game.developer}" class="blockquote-footer"></footer>
				</blockquote>
				<p th:text="${game.gameplay}"></p>
			</div>
			<div class="container mt-3">
				<table class="table table-dark table-striped">
					<thead>
						<tr>
							<th>Torneo</th>
							<th>Región</th>
						</tr>
					</thead>
					<tbody th:each="tournament: ${game.tournaments}">
						<tr>
							<td th:text="${tournament.name}" />
							<td th:text="${tournament.region}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
