<footer class="footer-section">
	<div class="container">
		<a href="#" class="footer-logo"> <img width="200px"
			src="../../img/logo_transparent.png" alt="">
		</a>
		<ul class="main-menu footer-menu">
			<li><a href="/">Home</a></li>
			<li><a href="/post">Noticias</a></li>
			<li><a href="/game">Juegos</a></li>
			<li><a href="/team">Equipos</a></li>
		</ul>

		<div class="copyright">
			<a
				href="https://www.educa2.madrid.org/web/centro.ies.reyfernando.sanfernando">IES
				Rey Fernando VI</a> 2021 @ Todos los derechos reservados
		</div>
	</div>
</footer>

<script src="../../js/jquery-3.5.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.slicknav.min.js"></script>
<script src="../../js/owl.carousel.min.js"></script>
<script src="../../js/jquery.sticky-sidebar.min.js"></script>
<script src="../../js/jquery.magnific-popup.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/validaciones.js"></script>