<div class="container">
	<div class="jumbotron">
		<h1>Noticias</h1>
	</div>
	<div>
		<table>
			<tr th:each="post: ${posts}">
			   <td><img style="width:200px;height:200px" th:src="@{${post.imgUrl}}" />
			   </td>
				<td>
					<a th:href="@{'/post/detalle?id=' + ${post.id}}">
						<p th:text="${post.title}" />
				    </a>
					<p th:text="${post.shortText}" />
					<p>
						<span th:text="${#temporals.format(post.date, 'dd-MM-yyyy')}" />
						| <span th:text="${post.author}" />
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>