<div class="container">
	<h1>Registro</h1>

	<form method="post" th:object="${userDTO}">
		Nombre de usuario 
		<input type="text" name="loginname" th:field="*{loginname}" class="form-item"/>
		<br/>
		
		Contraseña 
		<input type="password" name="password" th:field="*{password}" class="form-item"/>
		<br/>
		
		<input type="checkbox" name="admin" th:checked="${admin}" class="form-item">
		
		<input type="submit" value="Crear usuario" class="mt-2 btn btn-primary"/>
		
	</form>
	<div>
			<p th:text="${message}" />
		</div>
</div>