<div class="container">
  <h1>Nuevo Equipo</h1>

  <form method="post" th:object="${teamForm}" enctype="multipart/form-data">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" th:field="*{team.name}" />
    </div>
    <div class="form-group">
      <label>Historia</label>
      <textarea class="form-control" rows="10" th:field="*{team.history}" minlength="30"></textarea>
    </div>
    <div class="form-group">
      <label>Imagen</label>
      <input type="file" class="form-control" th:field="*{file}" />
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>
