<section class="page-top-section set-bg-teams"
	data-setbg="../../static/img/page-top-bg/1.jpg">
	<div class="page-info">
		<h2>Torneos</h2>
		<div class="site-breadcrumb">
			<a href="/">Home</a> / <span>Torneos</span>
		</div>
	</div>
</section>
<section class="review-section">
	<div class="container">
		<div class="review-item">
			<table class="table table-borderless table-dark table-striped table-hover">
				<thead>
					<tr>
						<th>Torneo</th>
						<th>Región</th>
						<th>Juego</th>
					</tr>
				</thead>
				<tbody th:each="tournament: ${tournaments}">
					<tr>
						<td th:text="${tournament.name}" />
						<td th:text="${tournament.region}" />
						<td th:text="${tournament.game.name}" />
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>