<div class="container">
	<br> <a href="/admin/player/create" class="mb-3 btn btn-info"
		role="button">Crear</a> <br>

	<h1>Lista de jugadores</h1>

	<table class="table table-hover">
		<thead class="thead-light">
			<tr>
				<th>Nick de jugador</th>
				<th>Nombre</th>
				<th>Rol</th>
				<th>Equipo</th>
				<th>Operaciones</th>
			</tr>
		</thead>
		<tbody th:each="player: ${players}">
			<tr>
				<td th:text="${player.playerName}" />
				<td th:text="${player.name}" />
				<td th:text="${player.role.name}" />
				<td th:text="${player.team.name}"></td>
				<td>
					<a th:href="@{'/game/detalle?id=' + ${player.id}}"
					   class="mb-3 btn btn-sm btn-info" role="button">Consultar</a>

					<a th:href="@{'/admin/game/update?id=' + ${player.id}}"
					   class="mb-3 btn btn-sm btn-success" role="button">Actualizar</a>

					<a th:href="@{'/admin/game/delete?id=' + ${player.id}}"
					   class="mb-3 btn btn-sm btn-danger confirmation" role="button">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>