<div class="container">
	<h1>Actualizar Juego</h1>

	<img th:src="${(gameForm.game.imgUrl != null) ? gameForm.game.imgUrl : '/upload/img/game/game.png'}"
		 th:alt="${gameForm.game.name}" th:title="${gameForm.game.name}" style="width:320px;height:250px" />

	<form method="post" th:object="${gameForm}" enctype="multipart/form-data">
		<div class="form-group">
			<label>Id</label>
			<input type="text" class="form-control" th:field="*{game.id}" readonly/>
		</div>
		<div class="form-group">
			<label>Nombre</label>
			<input type="text" class="form-control" th:field="*{game.name}" />
		</div>
		<div class="form-group">
			<label>Género</label>
			<input type="text" class="form-control" th:field="*{game.genre}" />
		</div>
		<div class="form-group">
			<label>Developer</label>
			<input type="text" class="form-control" th:field="*{game.developer}" />
		</div>
		<div class="form-group">
			<label>Jugabilidad</label>
			<textarea class="form-control" rows="10" th:field="*{game.gameplay}"></textarea>
		</div>
		<div class="form-group">
			<label>Imagen</label>
			<input type="file" class="form-control" th:field="*{file}" />
		</div>
		<button type="submit" class="btn btn-primary">Actualizar</button>
	</form>
</div>
