<div class="container">
	<div class="jumbotron">
		<h1 th:text="${team.name}"></h1>
	</div>
	<p th:text="${team.history}"></p>
	<div class="container mt-3">
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Nick de jugador</th>
					<th>Nombre</th>
					<th>Rol</th>
				</tr>
			</thead>
			<tbody th:each="player: ${team.players}">
				<tr>
					<td th:text="${player.playerName}" />
					<td th:text="${player.name}" />
					<td th:text="${player.role.name}" />
				</tr>
			</tbody>
		</table>
	</div>
</div>